.App {
    text-align: center;
    background-color: rgb(234, 238, 241);
    margin-left: 3em;
    margin-right: 3em;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .newpatient {
    display: flex;
    margin: 0em 0em 1em 1em;
    align-items: left;
    justify-content: left;
    flex-direction: left;
    color: #114973;
    font-size: smaller;
    font-size: calc(10px + 2vmin);
    
  }

  thead {
    position:sticky;
    top: 0;
  }

  .pDiv {
    background-color: #ffffff;
    border-radius: 10px;
  }
 
  .admin-component-title, 
  .newpatient  {
    background-color: #ffffff;
    padding-top: .5em;
    display: flex;
    margin: 1em;
    align-items: left;
    justify-content: left;
    flex-direction: left;
    color: #114973;
  }

  .pink {
    color: pink;
  }
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    font-size: calc(10px + 2vmin);
  }
  
  
  .App-link {
    color: #f0f0f0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
    margin: 1em;
    background-color: #ffffff;
  }
  

  table, 
  #table {
    border: collapse;
    border-collapse: collapse;
    width: 98%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    font-size: smaller;
  }

  table {
    border: collapse;
    border-collapse: collapse;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    

    font-size: smaller;
  }


  .table {
    max-height: 70vh;
    border-collapse: collapse;
    border: collapse;
    overflow: scroll;
    width: 98%;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: -1em;

  }


.table-div {
    border-collapse: collapse;
    width: 98%;
    margin-left:auto;
    margin-right:auto;
    background-color: rgb(255, 255, 255);

  }


  
  th,
  td {
    border-bottom: 1px solid #8BAFCB;
    text-align: left;
    padding: .75em;
    font-size: pxToRem(14px) ;
    

  }

  th {
    color: #8BAFCB;
    background-color: rgb(255, 255, 255);
    font-style: bold;

  }
  
  td { 

    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  table tr:hover td {
    background: #8BAFCB;
    cursor: pointer;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }

  /* responsive */

    .search-inputs{

    background-color: rgb(255, 255, 255);
    height: 50px; /* this controls how long the navbar is*/  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 97%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 2px;
    display: flex;
  }
  
  .search input{
    display: flex;
    align-items: center;
    width: 50%;
    height: 25px;
    margin-left:auto;
    margin-right:auto;
    padding: 3px 10px;
    border-radius: 13px;
    background-color: rgb(234, 238, 241);
    border-color: #eaeef1;
    border: 0;
    text-align: left;
  }

  .search-icon {
    height:20px;
    width:50px;
    right: 25%;
    padding: 3px;
    border-radius: 13px;
    background-color:#eaeef1;
    display:grid;
    place-items:center;
    position: absolute;
  }

  @media (max-width: 320px) {
    .search {
      display: flex;
      flex-direction: column;
      width: 95%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  }



.newpatientcomponent {
  background: rgb(255, 255, 255);
  border-collapse: collapse;
  width: 98%;
  margin-left:auto;
  margin-right:auto;
  margin-top:4em;
  padding-bottom: 1em;
  margin-bottom:1em;
  

}

  /* New Patient Div */

.newpatientcomponent{
  background-color: #ffffff;
  height: 100%; /* this controls how long the navbar is*/  
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 98%;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  border-radius: 10px;
}

.search input{
  display: flex;
  align-items: center;
  width: 50%;
  height: 25px;
  margin-left:auto;
  margin-right:auto;
  padding: 3px 10px;
  border-radius: 13px;
  background-color: #eaeef1;
  border-color: #eaeef1;
  border: 0;
  text-align: left;
}

.search-icon {
  height:20px;
  width:50px;
  right: 25%;
  padding: 3px;
  border-radius: 13px;
  background-color:#eaeef1;
  display:grid;
  place-items:center;
  position: absolute;
}

@media (max-width: 320px) {
  .search {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
}

/*
.update-button {
  text-size-adjust: small;
  text-decoration: none;
  color: #ffffff;
  background-color: #114973;
  padding: .25em;
}

.update-button:hover {
    text-size-adjust: auto;
    text-decoration: none;
    background-color:#eaeef1;
    color: #114973;
    padding: 2px 6px 2px 6px;
}

*/

/* Button */


.update-button,
.createbutton {
  text-size-adjust: small;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.update-button, 
.createbutton {
  color: white;
  background-color: #114973;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.update-button:hover, 
.createbutton:hover {
  background-color: #eaeef1;
  color: #114973;
}

Link {
  text-decoration: none;
}

.createbutton {
  width: 20em;
}