/* NEW */
.examDetail {
  background-color: #ffffff;
  height: 90%; /* this controls how long the navbar is*/
  align-items: center;  
  margin-top: 3em;
  margin-bottom: 2em;
  border-radius: 10px;
  padding-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  text-size-adjust: small;
  font-size: calc(8px + 2vmin);
}


.infoContainer name{
  text-align: left;

}

.wrapper {
  color: #114973;
  padding-top:3em;
}
.wrapper img{
  margin: auto;
  display: flex;
  width:10em;
  height:6em;
}

.infoContainer img{
  max-width:50%;
} 


.examDetail h2{
 color: #114973;
 text-align: center;
}

.examDetail label{
  color: #114973;
  font-size: calc(8px + 2vmin);
  font-size: calc(8px + 2vmin);


}

/* 
.buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.submitButton{
  color: white;
  background-color: #114973;
  border-color: #114973;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 0px;
  
  transition-duration: 0.4s;
  cursor: pointer;
}
.submitButton:hover {
  background-color: #8bafcb;
}
.cancelButton{
  color: rgb(224, 62, 62);
  background-color: #BD2130;
  border-color: #BD2130;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.cancelButton:hover{
  background-color: #BD2130;
} */
/* a{
  color: grey;
}
h3{
  font-weight: bold;
} */

/*if you want to control size of a font in here, so as not to affect the navbar sizing, Make a div that wraps around everything in the page and reference it in the css file as '.className h1' this will only affect font size on that specific page*/
/* .form h1 {
  font-size: 300%;
} */
.infoContainer{
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
  gap: 5em;
  font-size: smaller;
  font-size: calc(10px + 2vmin);
  overflow: scroll;
      margin-left: 3em;
    margin-right: 3em;
}

.info{
  /* text-align: left; */
  /* align-content: start; */
  /* width: 10px;
  height: 10px; */
  padding: .5em;
  margin-bottom: 30px;
  display: block;
  font-size: calc(10px + 2vmin);
  width: auto;
  border: 2px solid #ccc;
  border-radius: 10px;

}

.exam {
  width: auto;
}