.search-inputs{
    background-color: #ffffff;
    height: 50px; /* this controls how long the navbar is*/  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 98%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    border-radius: 2px;
  }

  .search input{
    display: flex;
    align-items: center;
    width: 50%;
    height: 25px;
    margin-left:auto;
    margin-right:auto;
    padding: 3px 10px;
    border-radius: 13px;
    background-color: #eaeef1;
    border-color: #eaeef1;
    border: 0;
    text-align: left;
  }
  
  .search-icon {
    height:20px;
    width:50px;
    right: 25%;
    padding: 3px;
    border-radius: 13px;
    background-color:#eaeef1;
    display:grid;
    place-items:center;
    position: absolute;
  }

  @media (max-width: 320px) {
    .search {
      display: flex;
      flex-direction: column;
      width: 95%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  }